<h1>smith very smith</h1>
    <table>
    <% if @range == "User" %>
            <thead>
                <tr>
                    <!--th空タグ-->
                    <th></th>
                    <th><p>Name</p></th>
                    <th><p>Introduction</p></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% @users.each do |user| %>
                        <tr>
                            <td><%= image_tag user.get_profile_image, size: "50x50" %></td>
                            <td><%= user.name %></td>
                            <td><%= user.body %></td>
                        </tr>
                    <% end %>
                </tr>
            </tbody>

        <% end %>
    </table>